.container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 5rem;
    align-items: center;
    padding: 1rem 2rem;

    width: 100vw;
    height: 5rem;

    font-size: medium;
    color: var(--color-text);

    background: color-mix(in srgb, var(--color-surface) 80%, transparent);

    position: relative;
}

.container a {
    color: var(--color-secondary);
    text-decoration: var(--color-secondary) underline;
}

.container a:visited {
    color: var(--color-primary);
    text-decoration: var(--color-primary) underline;
}

.logo {}

.buttonContainer {}