.container {
    width: 100vw;
    height: 36rem;
    background: color-mix(in srgb, var(--color-surface) 90%, transparent);
    color: var(--color-text);
    position: relative;
    padding: 1rem;

    display: flex;
    justify-content: center;

    background-image: url("../assets/fundo_transparente.png");
}

.layer_container {}

.layer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: color-mix(in srgb, var(--color-surface) 80%, transparent);
    border-radius: var(--radius);
    padding: 5rem 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 5px 29px 5px var(--color-surface);
    background: color-mix(in srgb, var(--color-secondary) 50%, transparent);

    overflow: hidden;
}